In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data from csv file
accidents = pd.read_csv('Accidents0515.csv',index_col='Accident_Index')
casualties = pd.read_csv('Casualties0515.csv' , error_bad_lines=False,index_col='Accident_Index',warn_bad_lines=False)
vehicles = pd.read_csv('Vehicles0515.csv', error_bad_lines=False,index_col='Accident_Index',warn_bad_lines=False)

In [3]:
# overview of the first 5 rows
accidents.head(5)

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,...,0,1,1,2,2,0,0,1,1,E01002849
200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,...,0,5,4,1,1,0,0,1,1,E01002909
200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,...,0,0,4,1,1,0,0,1,1,E01002857
200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,...,0,0,1,1,1,0,0,1,1,E01002840
200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,...,0,0,7,1,2,0,0,1,1,E01002863

In [4]:
# data types of all the columns 
# the discription of the columns are in the file "7752_road-accident-safety-data-guide.xls"
accidents.dtypes

Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
Latitude                                       float64
Police_Force                                     int64
Accident_Severity                                int64
Number_of_Vehicles                               int64
Number_of_Casualties                             int64
Date                                            object
Day_of_Week                                      int64
Time                                            object
Local_Authority_(District)                       int64
Local_Authority_(Highway)                       object
1st_Road_Class                                   int64
1st_Road_Number                                  int64
Road_Type                                        int64
Speed_limit                                      int64
Junction_Detail                                  int64
Junction_Control                                 int64
2nd_Road_Class                                   int64
2nd_Road_Number                                  int64
Pedestrian_Crossing-Human_Control                int64
Pedestrian_Crossing-Physical_Facilities          int64
Light_Conditions                                 int64
Weather_Conditions                               int64
Road_Surface_Conditions                          int64
Special_Conditions_at_Site                       int64
Carriageway_Hazards                              int64
Urban_or_Rural_Area                              int64
Did_Police_Officer_Attend_Scene_of_Accident      int64
LSOA_of_Accident_Location                       object
dtype: object

In [5]:
# check completeness of the data and row number
accidents

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,...,0,1,1,2,2,0,0,1,1,E01002849
200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,...,0,5,4,1,1,0,0,1,1,E01002909
200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,...,0,0,4,1,1,0,0,1,1,E01002857
200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,...,0,0,1,1,1,0,0,1,1,E01002840
200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,...,0,0,7,1,2,0,0,1,1,E01002863
200501BS00006,524770.0,181160.0,-0.203238,51.515540,1,3,2,1,11/01/2005,3,...,0,0,1,2,2,6,0,1,1,E01002832
200501BS00007,524220.0,180830.0,-0.211277,51.512695,1,3,2,1,13/01/2005,5,...,0,0,4,1,1,0,0,1,1,E01002875
200501BS00009,525890.0,179710.0,-0.187623,51.502260,1,3,1,2,14/01/2005,6,...,0,0,1,1,1,0,0,1,1,E01002889
200501BS00010,527350.0,177650.0,-0.167342,51.483420,1,3,2,2,15/01/2005,7,...,0,5,4,1,1,0,0,1,1,E01002900
200501BS00011,524550.0,180810.0,-0.206531,51.512443,1,3,2,5,15/01/2005,7,...,0,8,1,1,1,0,0,1,1,E01002875
200501BS00012,526240.0,178900.0,-0.182872,51.494902,1,3,1,1,16/01/2005,1,...,0,5,4,1,1,0,0,1,1,E01002835
200501BS00014,526170.0,177690.0,-0.184312,51.484044,1,3,2,1,25/01/2005,3,...,0,5,4,1,2,0,0,1,1,E01002912
200501BS00015,525590.0,178520.0,-0.192366,51.491632,1,3,1,1,11/01/2005,3,...,0,1,1,2,2,0,0,1,1,E01002849
200501BS00016,527990.0,178690.0,-0.157753,51.492622,1,3,2,1,18/01/2005,3,...,0,0,4,2,2,0,0,1,1,E01002902
200501BS00017,526700.0,178970.0,-0.176224,51.495429,1,3,1,2,18/01/2005,3,...,0,0,1,1,1,0,0,1,1,E01002821
200501BS00018,526460.0,177460.0,-0.180220,51.481912,1,3,1,1,18/01/2005,3,...,0,1,1,1,1,0,0,1,1,E01002840
200501BS00019,524680.0,179450.0,-0.205139,51.500191,1,2,2,1,20/01/2005,5,...,0,0,4,1,1,0,0,1,1,E01002864
200501BS00020,527000.0,179020.0,-0.171887,51.495811,1,3,2,1,21/01/2005,6,...,0,0,1,1,1,0,0,1,1,E01002821
200501BS00021,527810.0,178010.0,-0.160590,51.486552,1,3,2,1,21/01/2005,6,...,0,0,4,1,1,0,0,1,1,E01002901
200501BS00022,526790.0,178980.0,-0.174925,51.495498,1,2,1,1,08/01/2005,7,...,0,0,4,1,1,0,0,1,1,E01002821
200501BS00023,525940.0,178680.0,-0.187270,51.492992,1,3,1,1,24/01/2005,2,...,0,0,4,1,1,0,0,1,2,E01002839
200501BS00024,524700.0,180880.0,-0.204346,51.513039,1,3,2,1,24/01/2005,2,...,0,0,4,1,1,0,0,1,2,E01002882
200501BS00025,526930.0,177490.0,-0.173445,51.482076,1,3,2,1,24/01/2005,2,...,0,0,4,1,4,0,0,1,1,E01002840
200501BS00028,527290.0,178710.0,-0.167824,51.492960,1,3,2,1,18/01/2005,3,...,0,0,4,1,1,0,0,1,2,E01002858
200501BS00029,527380.0,179280.0,-0.166322,51.498062,1,3,2,1,29/01/2005,7,...,0,5,1,1,2,0,0,1,1,E01002819
200501BS00031,523930.0,180330.0,-0.215629,51.508265,1,3,1,1,19/01/2005,4,...,0,1,4,2,2,0,0,1,1,E01001944
200501BS00032,524470.0,180980.0,-0.207623,51.513988,1,3,2,1,30/01/2005,1,...,0,0,4,1,1,0,0,1,1,E01002874
200501BS00033,525570.0,178190.0,-0.192771,51.488671,1,3,2,2,29/01/2005,7,...,0,5,1,2,2,0,0,1,3,E01002849
200501BS70001,526240.0,178900.0,-0.182872,51.494902,1,3,2,1,01/02/2005,3,...,0,5,4,2,2,0,0,1,1,E01002835
200501BS70002,527780.0,179160.0,-0.160606,51.496893,1,3,2,1,02/02/2005,4,...,0,1,4,1,1,0,0,1,1,E01002863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015984126215,338953.0,576296.0,-2.957692,55.077345,98,3,3,2,17/08/2015,2,...,0,0,1,1,1,0,0,2,1,NaN
2015984126815,317327.0,566149.0,-3.293388,54.983052,98,3,2,2,21/08/2015,6,...,0,0,1,1,1,0,0,2,1,NaN
2015984126915,318128.0,575574.0,-3.283579,55.067857,98,3,2,3,24/08/2015,2,...,0,0,6,2,5,0,0,2,1,NaN
2015984127315,320333.0,567053.0,-3.246680,54.991664,98,3,2,1,17/08/2015,2,...,0,0,1,1,1,0,0,2,1,NaN
2015984127515,319848.0,566515.0,-3.254108,54.986752,98,3,2,1,23/08/2015,1,...,0,0,1,1,1,0,0,2,2,NaN
2015984127615,338620.0,595149.0,-2.966998,55.246691,98,3,1,1,27/08/2015,5,...,0,0,1,2,2,0,0,2,1,NaN
2015984128215,327982.0,570650.0,-3.128065,55.025147,98,1,1,2,30/08/2015,1,...,0,0,1,1,1,0,0,2,1,NaN
2015984128515,318980.0,575210.0,-3.270137,55.064727,98,2,1,1,04/09/2015,6,...,0,0,1,1,1,0,0,2,1,NaN
2015984129115,309715.0,598908.0,-3.422724,55.276010,98,3,2,1,09/09/2015,4,...,0,0,6,1,1,0,0,2,1,NaN
2015984129715,330766.0,567430.0,-3.083745,54.996613,98,3,2,1,10/09/2015,5,...,0,0,1,1,1,0,0,2,1,NaN
2015984130315,312312.0,605860.0,-3.384031,55.338930,98,3,2,1,27/09/2015,1,...,0,0,1,1,1,0,0,2,2,NaN
2015984130815,310460.0,604532.0,-3.412795,55.326666,98,2,1,1,03/10/2015,7,...,0,0,1,1,1,0,0,2,1,NaN
2015984131215,328774.0,567001.0,-3.114769,54.992477,98,3,1,1,27/09/2015,1,...,0,0,6,1,1,0,0,2,1,NaN
2015984132215,320174.0,566497.0,-3.249009,54.986643,98,3,1,1,20/10/2015,3,...,0,0,1,1,1,0,0,2,1,NaN
2015984132315,325193.0,568986.0,-3.171246,55.009785,98,3,2,2,23/10/2015,6,...,0,0,1,1,1,0,0,2,1,NaN
2015984132815,315619.0,578498.0,-3.323723,55.093705,98,2,2,1,02/11/2015,2,...,0,0,1,1,1,0,0,2,1,NaN
2015984133015,319506.0,566586.0,-3.259471,54.987335,98,3,2,1,04/11/2015,4,...,0,4,4,1,2,0,0,2,1,NaN
2015984133115,308738.0,579979.0,-3.431983,55.105789,98,3,1,1,04/11/2015,4,...,0,0,6,1,2,0,0,2,1,NaN
2015984133815,314076.0,578925.0,-3.348023,55.097276,98,2,3,4,09/11/2015,2,...,0,0,1,2,2,0,0,2,1,NaN
2015984134815,310142.0,596869.0,-3.415353,55.257772,98,3,1,1,28/10/2015,4,...,0,0,6,1,1,0,7,2,1,NaN
2015984135815,338928.0,576364.0,-2.958098,55.077953,98,3,2,1,20/11/2015,6,...,0,0,6,2,2,0,0,2,1,NaN
2015984136815,324728.0,566339.0,-3.177818,54.985933,98,3,1,2,24/11/2015,3,...,0,0,4,1,2,0,0,2,1,NaN
2015984137515,327369.0,566993.0,-3.136722,54.992202,98,3,2,1,01/12/2015,3,...,0,0,6,4,2,0,0,2,1,NaN
2015984137615,319301.0,566593.0,-3.262676,54.987365,98,3,2,1,02/12/2015,4,...,0,5,4,2,2,0,0,2,1,NaN
2015984139015,304440.0,580166.0,-3.499388,55.106659,98,3,1,1,13/12/2015,1,...,0,0,6,7,4,0,0,2,2,NaN
2015984139115,312087.0,570791.0,-3.376671,55.023855,98,3,3,1,11/12/2015,6,...,0,0,1,1,2,0,0,2,1,NaN
2015984139715,320671.0,569791.0,-3.242159,55.016316,98,3,2,1,02/12/2015,4,...,0,0,1,1,2,0,0,2,1,NaN
2015984140215,311731.0,586343.0,-3.387067,55.163502,98,2,1,4,23/12/2015,4,...,0,0,6,4,2,0,0,2,1,NaN
2015984140515,328273.0,570137.0,-3.123385,55.020580,98,3,3,3,26/12/2015,7,...,0,0,1,2,2,0,0,2,1,NaN
2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,5,...,0,0,6,3,4,0,0,2,1,NaN

In [6]:
# identifies duplicate rows in the data 
accidents.duplicated(subset=None, keep=False).sum()

63

In [7]:
# drop duplicates
# in reality, accident events are very unlikely to have exactly the same characteristics such as date, time, location and number of vehicles and thus should be removed from the dataset.
accidents.drop_duplicates(subset=None, keep=False, inplace=True)

In [8]:
# join the accident dataset with the vehicles dataset
accidents = accidents.join(vehicles, how='outer')

In [9]:
# check the data type of all the columns again after the join with vehicle data
accidents.dtypes

Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
Latitude                                       float64
Police_Force                                   float64
Accident_Severity                              float64
Number_of_Vehicles                             float64
Number_of_Casualties                           float64
Date                                            object
Day_of_Week                                    float64
Time                                            object
Local_Authority_(District)                     float64
Local_Authority_(Highway)                       object
1st_Road_Class                                 float64
1st_Road_Number                                float64
Road_Type                                      float64
Speed_limit                                    float64
Junction_Detail                                float64
Junction_Control                               float64
2nd_Road_Class                                 float64
2nd_Road_Number                                float64
Pedestrian_Crossing-Human_Control              float64
Pedestrian_Crossing-Physical_Facilities        float64
Light_Conditions                               float64
Weather_Conditions                             float64
Road_Surface_Conditions                        float64
Special_Conditions_at_Site                     float64
Carriageway_Hazards                            float64
Urban_or_Rural_Area                            float64
Did_Police_Officer_Attend_Scene_of_Accident    float64
LSOA_of_Accident_Location                       object
Vehicle_Reference                              float64
Vehicle_Type                                   float64
Towing_and_Articulation                        float64
Vehicle_Manoeuvre                              float64
Vehicle_Location-Restricted_Lane               float64
Junction_Location                              float64
Skidding_and_Overturning                       float64
Hit_Object_in_Carriageway                      float64
Vehicle_Leaving_Carriageway                    float64
Hit_Object_off_Carriageway                     float64
1st_Point_of_Impact                            float64
Was_Vehicle_Left_Hand_Drive?                   float64
Journey_Purpose_of_Driver                      float64
Sex_of_Driver                                  float64
Age_of_Driver                                  float64
Age_Band_of_Driver                             float64
Engine_Capacity_(CC)                           float64
Propulsion_Code                                float64
Age_of_Vehicle                                 float64
Driver_IMD_Decile                              float64
Driver_Home_Area_Type                          float64
dtype: object

In [10]:
# identifies all null values in the dataset.
accidents.isnull().sum()

Location_Easting_OSGR                             306
Location_Northing_OSGR                            306
Longitude                                         306
Latitude                                          306
Police_Force                                       81
Accident_Severity                                  81
Number_of_Vehicles                                 81
Number_of_Casualties                               81
Date                                               81
Day_of_Week                                        81
Time                                              321
Local_Authority_(District)                         81
Local_Authority_(Highway)                          81
1st_Road_Class                                     81
1st_Road_Number                                    81
Road_Type                                          81
Speed_limit                                        81
Junction_Detail                                    81
Junction_Control                                   81
2nd_Road_Class                                     81
2nd_Road_Number                                    81
Pedestrian_Crossing-Human_Control                  81
Pedestrian_Crossing-Physical_Facilities            81
Light_Conditions                                   81
Weather_Conditions                                 81
Road_Surface_Conditions                            81
Special_Conditions_at_Site                         81
Carriageway_Hazards                                81
Urban_or_Rural_Area                                81
Did_Police_Officer_Attend_Scene_of_Accident        81
LSOA_of_Accident_Location                      213748
Vehicle_Reference                              140048
Vehicle_Type                                   140048
Towing_and_Articulation                        140048
Vehicle_Manoeuvre                              140048
Vehicle_Location-Restricted_Lane               140048
Junction_Location                              140048
Skidding_and_Overturning                       140048
Hit_Object_in_Carriageway                      140048
Vehicle_Leaving_Carriageway                    140048
Hit_Object_off_Carriageway                     140048
1st_Point_of_Impact                            140048
Was_Vehicle_Left_Hand_Drive?                   140048
Journey_Purpose_of_Driver                      140048
Sex_of_Driver                                  140048
Age_of_Driver                                  140048
Age_Band_of_Driver                             140048
Engine_Capacity_(CC)                           140048
Propulsion_Code                                140048
Age_of_Vehicle                                 140048
Driver_IMD_Decile                              140048
Driver_Home_Area_Type                          140048
dtype: int64

In [12]:
# The value â€œ-1â€Â is also exported for NULLÂ or out of range values.
np.sum(accidents == -1)

Location_Easting_OSGR                                0
Location_Northing_OSGR                               0
Longitude                                            2
Latitude                                             0
Police_Force                                         0
Accident_Severity                                    0
Number_of_Vehicles                                   0
Number_of_Casualties                                 0
Date                                                 0
Day_of_Week                                          0
Time                                                 0
Local_Authority_(District)                           0
Local_Authority_(Highway)                            0
1st_Road_Class                                       0
1st_Road_Number                                      2
Road_Type                                            0
Speed_limit                                          0
Junction_Detail                                     34
Junction_Control                               1083164
2nd_Road_Class                                 1251202
2nd_Road_Number                                  32539
Pedestrian_Crossing-Human_Control                  177
Pedestrian_Crossing-Physical_Facilities            192
Light_Conditions                                     0
Weather_Conditions                                 297
Road_Surface_Conditions                           4090
Special_Conditions_at_Site                         136
Carriageway_Hazards                                148
Urban_or_Rural_Area                                  0
Did_Police_Officer_Attend_Scene_of_Accident        506
LSOA_of_Accident_Location                            0
Vehicle_Reference                                    0
Vehicle_Type                                       473
Towing_and_Articulation                            184
Vehicle_Manoeuvre                                 1080
Vehicle_Location-Restricted_Lane                    74
Junction_Location                                 9876
Skidding_and_Overturning                           132
Hit_Object_in_Carriageway                           87
Vehicle_Leaving_Carriageway                        127
Hit_Object_off_Carriageway                          54
1st_Point_of_Impact                                565
Was_Vehicle_Left_Hand_Drive?                     23049
Journey_Purpose_of_Driver                        44921
Sex_of_Driver                                       33
Age_of_Driver                                   330608
Age_Band_of_Driver                              330608
Engine_Capacity_(CC)                            788471
Propulsion_Code                                 770004
Age_of_Vehicle                                  874989
Driver_IMD_Decile                               849921
Driver_Home_Area_Type                           588611
dtype: int64

In [13]:
# drop unwanted columns
accidents.drop('1st_Road_Class', axis =1, inplace=True);
accidents.drop('1st_Road_Number', axis =1, inplace=True);
accidents.drop('2nd_Road_Class', axis =1, inplace=True);
accidents.drop('2nd_Road_Number', axis =1, inplace=True);
accidents.drop('Location_Easting_OSGR', axis=1, inplace=True);
accidents.drop('Location_Northing_OSGR', axis=1, inplace=True);
accidents.drop('Junction_Control', axis =1, inplace=True);
accidents.drop('LSOA_of_Accident_Location', axis =1, inplace=True);

In [16]:
# create column Date_Time
accidents['Date_Time'] =  accidents['Date'] +' '+ accidents['Time']

In [17]:
# drop unwanted rows (the rows with missing values)
for col in accidents.columns:
    accidents = (accidents[accidents[col]!=-1])

for col in casualties.columns:
    casualties = (casualties[casualties[col]!=-1])

    accidents['Date_Time'] = pd.to_datetime(accidents.Date_Time)

# drop column Date and Time, since column Date_Time is created
accidents.drop(['Date','Time'],axis =1 , inplace=True)
accidents.dropna(inplace=True)

In [18]:
# check if there are still invalid values in the dataset (NULL or -1)
accidents.isnull().sum()

Longitude                                      0
Latitude                                       0
Police_Force                                   0
Accident_Severity                              0
Number_of_Vehicles                             0
Number_of_Casualties                           0
Day_of_Week                                    0
Local_Authority_(District)                     0
Local_Authority_(Highway)                      0
Road_Type                                      0
Speed_limit                                    0
Junction_Detail                                0
Pedestrian_Crossing-Human_Control              0
Pedestrian_Crossing-Physical_Facilities        0
Light_Conditions                               0
Weather_Conditions                             0
Road_Surface_Conditions                        0
Special_Conditions_at_Site                     0
Carriageway_Hazards                            0
Urban_or_Rural_Area                            0
Did_Police_Officer_Attend_Scene_of_Accident    0
Vehicle_Reference                              0
Vehicle_Type                                   0
Towing_and_Articulation                        0
Vehicle_Manoeuvre                              0
Vehicle_Location-Restricted_Lane               0
Junction_Location                              0
Skidding_and_Overturning                       0
Hit_Object_in_Carriageway                      0
Vehicle_Leaving_Carriageway                    0
Hit_Object_off_Carriageway                     0
1st_Point_of_Impact                            0
Was_Vehicle_Left_Hand_Drive?                   0
Journey_Purpose_of_Driver                      0
Sex_of_Driver                                  0
Age_of_Driver                                  0
Age_Band_of_Driver                             0
Engine_Capacity_(CC)                           0
Propulsion_Code                                0
Age_of_Vehicle                                 0
Driver_IMD_Decile                              0
Driver_Home_Area_Type                          0
Date_Time                                      0
dtype: int64

In [19]:
np.sum(accidents==-1)

Longitude                                      0
Latitude                                       0
Police_Force                                   0
Accident_Severity                              0
Number_of_Vehicles                             0
Number_of_Casualties                           0
Day_of_Week                                    0
Local_Authority_(District)                     0
Local_Authority_(Highway)                      0
Road_Type                                      0
Speed_limit                                    0
Junction_Detail                                0
Pedestrian_Crossing-Human_Control              0
Pedestrian_Crossing-Physical_Facilities        0
Light_Conditions                               0
Weather_Conditions                             0
Road_Surface_Conditions                        0
Special_Conditions_at_Site                     0
Carriageway_Hazards                            0
Urban_or_Rural_Area                            0
Did_Police_Officer_Attend_Scene_of_Accident    0
Vehicle_Reference                              0
Vehicle_Type                                   0
Towing_and_Articulation                        0
Vehicle_Manoeuvre                              0
Vehicle_Location-Restricted_Lane               0
Junction_Location                              0
Skidding_and_Overturning                       0
Hit_Object_in_Carriageway                      0
Vehicle_Leaving_Carriageway                    0
Hit_Object_off_Carriageway                     0
1st_Point_of_Impact                            0
Was_Vehicle_Left_Hand_Drive?                   0
Journey_Purpose_of_Driver                      0
Sex_of_Driver                                  0
Age_of_Driver                                  0
Age_Band_of_Driver                             0
Engine_Capacity_(CC)                           0
Propulsion_Code                                0
Age_of_Vehicle                                 0
Driver_IMD_Decile                              0
Driver_Home_Area_Type                          0
Date_Time                                      0
dtype: int64

In [20]:
# create backup and exporte the cleaned dataset to a file
accidents_backup = accidents.copy(deep=True)
accidents.to_csv('accidents_Cleaned.csv')